input:focus, textarea:focus{
    background-color: #32CD32;
    }
form {
    color: #ffffff;
    background-color: #112e51;
    padding-left: 10pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    width: 190pt;
}
input {
    font-size: 16pt;
}
#submitButton:focus, area:focus{
    background-color: orange;
}
html {
    font-size: 16pt;
}
img:focus {
    outline: 5px solid #32CD32;
}